body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sidebar {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
  .pad2 {
    padding: 20px;
  }

  .map {
    position: absolute;
    left: 20%;
    width: 80%;
    top: 0;
    bottom: 0;
  }

  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  }

  a {
    color: #404040;
    text-decoration: none;
  }

  a:hover {
    color: #101010;
  }

  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    line-height: 60px;
    padding: 0 10px;
    background-color: #00853e;
    color: #fff;
  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
  }

  .listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }

  .listings .item:last-child {
    border-bottom: none;
  }
  .listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }

  .listings .item .title small {
    font-weight: 400;
  }
  .listings .item.active .title,
  .listings .item .title:hover {
    color: #8cc63f;
  }
  .listings .item.active {
    background-color: #f8f8f8;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
  }

  .clearfix {
    display: block;
  }
  .clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 280px;
  }
  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }
  .mapboxgl-popup-content h3 {
    background: #91c949;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
  }

  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
  }

  .mapboxgl-popup-content div {
    padding: 10px;
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }

  .mapboxgl-ctrl-geocoder {
    border: 0;
    border-radius: 0;
    position: relative;
    top: 0;
    width: 800px;
    margin-top: 0;
  }
  
  .mapboxgl-ctrl-geocoder > div {
    min-width: 100%;
    margin-left: 0;
  }

  .info-list{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 15px;
  }

  .wiki-button {
    border: 1px solid #8cc63f;
    width: 81px;
    text-align: center;
    border-radius: 6px;
    margin: 3px;
    cursor: pointer;
  }

  .foqu-button {
    border: 1px solid blue;
    width: 81px;
    text-align: center;
    border-radius: 6px;
    margin: 3px;
    cursor: pointer;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/marker.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .restaurant {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/restaurant.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .travel {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/travel.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .education {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/education.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .book {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/book.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .airport {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/airport.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .bus {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/bus.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .fuel {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/fuel.png');
    background-color: rgba(0, 0, 0, 0);
  }

  .hospital {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 30px;
    background-image: url('./img/hospital.png');
    background-color: rgba(0, 0, 0, 0);
  }  
  #foursquareMode {
    width: 446px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
    background: white;
    padding: 0px 0px 0px 0px;
    border-radius: 8px;
    display: none;
  }
  .fq-header-container{
    background: green;
    color: white;
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
  }
  .fq-title {
    
  }

  .fq-close-btn:hover{
    cursor: pointer;
  }

  .fq-body-container{
    width: 100%;
    padding: 10px;
  }

  .fq-body-rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
  }

  .glyphicon-star{
    color: gold
  }

  .fq-rating{
    margin-left: 10px;
  }

  .fq-body-subinfo{
    padding: 20px, 10px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 0px;
  }
  .fq-subinfo-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    padding-left: 10px;

  }

  .subinfo-title{
    font-weight: bold;
  }

  .fq-body-contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0px;
    width: 100%;
    justify-content: center;

  }
  .fq-body-address{
    margin-bottom: 30px;
  }
  .contact{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: blue;
  }

  .btn-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .btn-container > h5 {
    border-radius: 5px;
    border: 1px solid;
    width: 60px;
    text-align: center;
    padding: 2px 5px;
    cursor: pointer;
  }

  .walking {
    color: green
  }

  .cycling {
    color: blue;
  }

  .driving {
    color: #3887be;
  }